.git
.env
.DS_Store # macOS specific ignore
__pycache__/
.venv

.idea/
.DS_Store
src/.DS_Store
src/creds/.DS_Store

venv/

# not ideal but prevent creds from being committed
/src/creds/fifth-jigsaw-415008-eda0700e6e1a.json
/src/creds/ChatGPT API Key.txt